@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Oswald:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.prose
  :where(h5 + *, h6 + *):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  ) {
  @apply mt-0;
}
